#award-modal {
    cursor: auto;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 70px;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 80px;
    height: 30px;
    left: 7%;
}

input[type="button"] {
    border: none;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    bottom: 5px;
    cursor: pointer;
    right: 5%;
    background: #ececec;
    height: 30px;
    width: 80px;
}

input[type="submit"]:hover {
    background-color: darkseagreen;
}

input[type="button"]:hover {
    background-color: indianred;
}

input[type ="text"] {
    width: 100%;
    padding-top: 5px;
}


#award-modal p {
    top: 0;
    display: block;
    margin: 10px;
}

#search-body {
    width: 300px;
    height: 150px;
    margin: 0;
    top: 20%;
    left: 50%;
}