form {
    width: 400px;
    height: 220px;
    margin: auto;
    color: white;
    background: #0690cf;
    border: 2px solid #0075b2;
    text-align: left;
    font-family: sans-serif;
    padding: 25px 0 20px 0;
}

.reg-form {
    padding: 0 0 10px 25px;
    font-size: 25px;
    font-weight: normal;
    border-bottom: 1px solid #fff;
}

form p {
    padding-top: 22px;
    padding-left: 25px;
    margin: 0;
}

label {
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 16px;
}

.mail-form {
    width: 320px;
}

.pass-form {
    width: 146px;
}

input[type="submit"] {
    background: #ffdf7f;
    color: #000;
    border: none;
    margin: 2px;
    padding: 6px 8px;
    cursor: pointer;
    width: 160px;
}

    input[type="submit"]:hover {
        background: orange;
    }

input[type="button"] {
    color: #000;
    border: none;
    margin: 2px;
    padding: 6px 8px;
    cursor: pointer;
    width: 160px;
}