body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

    body hr {
        background: #eeeeee;
    }

.section {
    top: 10%;
    align-content: center;
}

#greeting {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

#login {
    display: flex;
    justify-content: right;
    margin-left: 40%;
}

.section #user-section {
    width: 50%;
    position: absolute;
    left: 0;
    top: 80px;
    text-align: center;
}

.section #award-section {
    width: 50%;
    position: absolute;
    right: 0;
    top: 80px;
    text-align: center;
}

.section button {
    border-radius: 5px;
    color: blue;
    border-color: darkblue;
}

    .section button:hover {
        background-color: aqua;
        color: black;
    }

.section :hover {
    cursor: pointer;
}

#user-all-button button {
    margin: 0 auto;
}

#all-awards, #all-users {
    display: none;
}

#awardsPlace {
    position: center;
    cursor: auto;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


#usersPlace {
    cursor: auto;
    position: fixed;
    left: 115px;
    margin: auto;
    width: 500px;
    height: 140px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#award {
    top: 20%;
    cursor: auto;
    position: fixed;
    left: 50%;
    margin: auto;
    width: 500px;
    height: 135px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.userModal {
    margin-top: 5%;
    bottom: 2%;
    right: 0;
    display: flex;
    cursor: auto;
    margin: auto;
    width: 350px auto;
    height: 140px auto;
    display: block;
    background-color: #ffffff;
    border-radius: 5px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

    .userModal input {
        top: 10%;
        width: 80%;
    }

.awardModal {
    margin-top: 5%;
    bottom: 2%;
    right: 0;
    cursor: auto;
    margin: auto;
    width: 300px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 5px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

#greeting button {
    right: 10px;
}
