#search-body {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
}

.search-content {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px black double;
    border-radius: 10px;
}

    .search-content input {
        width: 70%;
    }

input {
    width: 70%;
    border-radius: 5px;
}

.search-btn {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

button {
    border-radius: 10px;
}

.search-btn:hover {
    cursor: pointer;
}

#award-modal {
    display: none;
}
