#user-modal {
    display: block;
    cursor: auto;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    height: 17%;
    width: 65%;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"] {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 80px;
    height: 30px;
    left: 4%;
}

input[type="button"] {
    border: none;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    bottom: 5px;
    cursor: pointer;
    right: 2.7%;
    background: #ececec;
    height: 30px;
    width: 80px;
}

input[type="submit"]:hover {
    background-color: darkseagreen;
}
input[type="button"]:hover{
    background-color:indianred;
}
#user-modal p{
    display: block;
    margin: 10px;
}

#userPlaceHolder {
    width:50%;
}
input[type= "text"] {
    width: 100%;
}