body {
    background: #3f5165;
}

#container {
    width: 700px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 30px 20px 5px #2e3e4d;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

.section {
    display: inline-block;
    width: 32.6%;
}
.section h1 {
    font-size: 1em;
    color: #f5632e;
}
.section + .section {
    box-shadow: -11px 0 0 -10px #e5e5e5;
}
.section img{
    width: 86px;
    height: 70px;
    margin-top: 10px;
}
#cloud {
    height: 75px;
    opacity: 0.7;
}
.section button {
    background: #f5632e;
    border: none;
    border-radius: 3px;
    color:#fff;
    cursor: pointer;
    padding: 5px 15px;
  }

.section button:hover {
    background: rgb(74, 241, 144);
    color: black;
}

