body{
    background:#303030;
}

.container {
	margin: 40px auto;
	width: 100%;
}

.pointer {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    font-size: 30px;
    position: relative;
	margin-top: 10%;
    padding: 40px 65px;
	color: #FFFFFF;
	background: #89b8d6;
	border: 4px solid #c3e2f5;
}

.pointer:after {
	position: absolute;
	top: -38.9px;
	width: 70px;
	height: 70px;	
	left: 0;
	right: 0;
	margin: auto;
	clip-path: polygon(0 0, 0% 100%, 100% 0);
	transform: rotate(45deg);
	background: #89b8d6;
	border: 4px solid #c3e2f5;
	content: "";
}