body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

#search-button{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

#search-button input[type="text"]{
    border: none;
    width: 100%;
    height: 30px;
    padding-left: 40px;
    border-radius: 5px;
    background: #f5f5f5;
}

#search-button input[type="text"]:hover {
    border: 1px solid rgb(176, 176, 243);
}

#search-button button{
    border: none;
    outline: none;
    position: absolute;
    top: 1.5px;
    width: 35px;
    left: 0.1%;
    height: 29.8px;
    background: #f5f5f5;
    cursor: pointer;
    background: url(images/magnifier.PNG) no-repeat 0.1px center;
}

#search-button button:hover {
    border: 3px solid rgb(123, 123, 248);
    border-radius: 5px;
}

#search-button hr {
    background: #eeeeee;
    size: 2px;
}

#create-button {
    background: #23b4f4;
    outline: none;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    width: 48px;
    height: 53px;
    position: fixed;
    bottom: 15%;
    right: 8%;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 0;
	right: 0;
	margin: auto;
    width: 600px;
    height: 130px;
    padding: 15px; 
    z-index: 1; 
    background-color: #ffffff;
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

#modal-title {
    width: 600px;
    height: 30px;
    border:none;
    outline: none;
    font-size: 20px;
    background: #ffffff;
}

#modal-content {
    top: 20px;
    width: 600px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 15px;
    resize: none;
    background: #ffffff;
}

#create-note button{
    background: #ececec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 10px;
    text-align: center;
}

.close-button button{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 450px;
    position: absolute;
    width: 20px;
    height: 15px;
    text-align: center;
}

.noteBody {
    left: 0;
	right: 0;
	margin:7px auto;
    min-height: 70px auto;
    width: 600px;
    padding: 15px; 
    cursor: default;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    align-items: center;
}

.noteBody:hover {
    border: 5px solid rgb(146, 146, 252);
}

#note-title {
    width: 600px;
    height: 30px;
    border:none;
    outline: none;
    font-size: 20px;
    font-weight: 800px;
    background: #ffffff;;
}

#note-content {
    top: 20px;
    width: 500px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 15px;
    resize: none;
    background: #ffffff;
}

.noteBody button{
    outline: none;
    position: relative;
    width: 40px;
    height: 43px;
    background: black;
    cursor: pointer;
    background: url(images/delete-button.jpg) center; 
}
.noteBody button img{
    border: 3px silver;
}
