body {
    background-size: 60%;
}
#AnimalInfo form {
    background: white;
    border-radius: 10px;
    border: 5px dashed #7db0c4;
    width: 500px;
    height: 300px;
    padding-top: 10px;
}


#AnimalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#AnimalInfo label {
   display: flex;
   margin-left: 25px;
}

#AnimalInfo input[type = "text"] {
        color: black;
        width: 200px;
        padding-left: 20px;
}

#AnimalInfo#AnimalInfo textarea {
    max-height: 83px;
}

