body {
    background-size: 80%;
}
.AccountInfo {
    border: 3px dashed #4789e2;
    width: 80%;
    margin-bottom: 10px;
}

.section label {
    font-size: 20px;
    font-style: oblique;
    justify-content: center;
    margin-left: 10px;
}

.section input[type="text"] {
    width: 200px;
}

#AccountsBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AccountInfo input[type="text"] {
    color: black;
}

.AccountInfo input[type="button"] {
    margin-left: 200px;
}