@using Controllers;
@using Models;
@using Epam.Common;
@{
    if (IsPost)
    {
        var userLogic = UserResolver.UserLogic;
        UserController userController = new UserController(userLogic);

        var name = Request.Params["name"];
        var date = Request.Params["date"];
        DateTime userDate = new DateTime();

        DateTime.TryParseExact(date, "dd.MM.yyyy", null, System.Globalization.DateTimeStyles.None, out userDate);

        var awards = Request.Params["awards"];
        char[] marks = {' ', ','};
        var awardsList = awards.Split(marks,StringSplitOptions.RemoveEmptyEntries).Select(int.Parse).ToList();

        userController.AddUser(new UserModel { Name = name, DateOfBirth = userDate, ListOfAwards = awardsList});
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавить пользователя</title>
    <link rel="stylesheet" type="text/css" href="~/Views/userModalStyle.css" />
</head>
<body>
        <form action = "" method="post">
            <div id="user-modal">
                <p><input type="text" name="name" placeholder="Введите имя" value=""></p>
                <p><input type="text" name="date" placeholder="Введите дату: dd.mm.yyyy" value=""></p>
                <p><input type="text" name="awards" placeholder="Введите номера наград через пробел или запятую" value=""></p>
                <p><input type="submit" value="Создать" id="create-user"></p>
                <p><input type="button" value ="Закрыть" id="user-close-button" onclick="window.location.href = '../index.cshtml'"></p> 
            </div>
        </form>
</body>
</html>
